<!--h2 style="font-family: Raleway;">
    <mat-icon style="vertical-align: middle; margin-right:0.2em;margin-left:1.5em">
        room_service
    </mat-icon>
    Menú
</!--h2-->
<div class="w3-section w3-margin-left w3-margin-right animated fadeInUp delay-2">
    <div class="w3-row">
        <div class="w3-col s0 m1 l1">
            <p></p>
        </div>
        <div class="w3-col s12 m10 l10" style="min-height:86vh; font-family: Raleway;">
            <h1 style="font-size:1.8em; color: #2B2B2B; font-family: Raleway; font-weight: bolder;">
                <mat-icon style="vertical-align:middle; transform: scale(1.5); margin-right: 1em; margin-left: 0.3em;">room_service
                </mat-icon>
                Menú
            </h1>
            <div style="display: flex; border-top: 1px solid;">
                <div class="ticket">
                    <div class="header">
                        <span>Pedido</span>
                        <span></span>
                        <span>#00001</span>
                    </div>
                </div>
                <div class="categories">
                    <h2>Categorías</h2>
                </div>
            </div>

        </div>
        <div class="w3-col s0 m1 l1">
            <p></p>
        </div>
    </div>
</div>