<div class="w3-section w3-margin-left w3-margin-right animated fadeInUp delay-2">
    <div style="padding: 0 3vw;">
        <h1 style="font-size:3vh; color: #2B2B2B; font-family: Raleway; font-weight: bolder; font-family: Raleway;">
            <mat-icon style="vertical-align:middle; transform: scale(1.5); margin-right: 1em; margin-left: 0.3em;">
                room_service
            </mat-icon>
            Menú
        </h1>
        <div style="display: flex; border-top: 1px solid;">
            <div class="ticket">
                <div class="header flex-div">
                    <span>Pedido</span>
                    <span style="flex: 1 1 auto;"></span>
                    <span>#00001</span>
                </div>
                <div class="order-list">
                    <ol>
                        <li class="order" *ngFor="let plate of order; let i = index"
                            (click)="selectablePlate = plate; MenuList=true; categoriesList=false"
                            [ngStyle]="{'border':selectablePlate==plate?'1px solid black':'none'}">
                            <div class="flex-div"
                                style="justify-content: space-between; width: 100%; font-weight: bold; font-size: medium;">
                                <span>{{plate['amount']}} {{plate['name']}}</span>
                                <span>
                                    <span>S/. {{plate['price'] * plate['amount'] | number : '.2'}}</span>
                                    <mat-icon style="cursor: pointer;margin-left: 10px; vertical-align: middle;"
                                        (click)="deleteDish(i)">delete</mat-icon>
                                </span>
                            </div>
                            <div *ngIf="plate['type'] == 'executive' || plate['type'] == 'simple'">
                                <div class="flex-div" style="justify-content: space-between; width: 100%;"
                                    *ngIf="plate['plate']['entry']">
                                    <span>{{plate['plate']['entry']}}</span>
                                    <mat-icon style="cursor: pointer;" (click)="deleteSubDish(i,'entry')">delete
                                    </mat-icon>
                                </div>
                                <div class="flex-div" style="justify-content: space-between; width: 100%;"
                                    *ngIf="plate['plate']">
                                    <span>{{plate['plate']['second']}}</span>
                                    <mat-icon style="cursor: pointer;" (click)="deleteSubDish(i,'second')">delete
                                    </mat-icon>
                                </div>
                                <div class="flex-div" style="justify-content: space-between; width: 100%;"
                                    *ngIf="plate['type']=='executive'">
                                    <span>{{plate['plate']['dessert']}}</span>
                                    <mat-icon style="cursor: pointer;" (click)="deleteSubDish(i,'dessert')">delete
                                    </mat-icon>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="total">
                    <div class="flex-div" style="justify-content:space-between">
                        <span>Total</span>
                        <span>S/. {{total | number: '.2'}}</span>
                    </div>
                </div>
            </div>
            <div class="categories" *ngIf="categoriesList">
                <span class="header">Categorías</span>
                <div class="flex-div">
                    <div class="category selected" (click)="MenuList=true; categoriesList=false">
                        <div class="w3-center">
                            <mat-icon class="icon">restaurant</mat-icon>
                            <p>Menú del día</p>
                        </div>
                    </div>
                    <div class="category" (click)="otherList=true; categoriesList=false; otherTitle='Piqueos'">
                        <div class="w3-center">
                            <img class="icon" src="../../../../assets/images/pollo-frito.png" alt="">
                            <p>Piqueos</p>
                        </div>
                    </div>
                    <div class="category" (click)="otherList=true; categoriesList=false; otherTitle='Extras'">
                        <div class="w3-center">
                            <mat-icon class="icon">deck</mat-icon>
                            <p>Extras</p>
                        </div>
                    </div>
                    <div class="category" (click)="otherList=true; categoriesList=false; otherTitle='Bebidas'">
                        <div class="w3-center">
                            <mat-icon class="icon">free_breakfast</mat-icon>
                            <p>Bebidas</p>
                        </div>
                    </div>
                    <div class="category" (click)="otherList=true; categoriesList=false; otherTitle='Combos'">
                        <div class="w3-center">
                            <mat-icon class="icon">fastfood</mat-icon>
                            <p>Combos</p>
                        </div>
                    </div>
                    <div class="category" (click)="otherList=true; categoriesList=false; otherTitle='Promociones'">
                        <div class="w3-center">
                            <img class="icon" src="../../../../assets/images/promocion.png" alt="">
                            <p>Promociones</p>
                        </div>
                    </div>
                    <div class="category" (click)="otherList=true; categoriesList=false; otherTitle='Postres'">
                        <div class="w3-center">
                            <img class="icon" src="../../../../assets/images/comida-y-restaurante 1.png" alt="">
                            <p>Postres</p>
                        </div>
                    </div>
                    <div class="category" (click)="otherList=true; categoriesList=false; otherTitle='Otros'">
                        <div class="w3-center">
                            <img class="icon" src="../../../../assets/images/cesta 1.png" alt="">
                            <p>Otros</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="MenuList">
                <div class="type">
                    <span class="header">Tipo</span>
                    <div class="flex-div">
                        <div class="category" style="background: rgba(183, 7, 5, 0.2);"
                            (click)="firstOrder('executive',10,'Menú Ejecutivo')">
                            <div class="w3-center">
                                <img class="icon" src="../../../../assets/images/comida.png" alt="">
                                <p>Ejecutivo</p>
                            </div>
                        </div>
                        <div class="category" style="margin-right: 2vw;background: rgba(237, 172, 47, 0.4);"
                            (click)="firstOrder('simple',8,'Menú Básico')">
                            <div class="w3-center">
                                <mat-icon class="icon">restaurant</mat-icon>
                                <p>Básico</p>
                            </div>
                        </div>
                        <div class="category">
                            <div class="w3-center">
                                <img class="icon" src="../../../../assets/images/almuerzo.png" alt="">
                                <p>Segundo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plates">
                    <div class="flex-div" style="justify-content: space-between;">
                        <div style="margin-bottom: 2vh;">
                            <span class="header">Entrada</span>
                            <div class="flex-div" style="margin-top: 1vh;">
                                <div class="box" *ngFor="let plate of entry" (click)="selectedDish(plate)">
                                    <span class="stock">{{plate['stock']}} / {{plate['initialStock']}}</span>
                                    <img src="../../../../assets/images/almuerzo.png" alt="">
                                    <p>{{plate['name']}}</p>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 2vh;">
                            <span class="header">Sopa</span>
                            <div class="flex-div" style="margin-top: 1vh;">
                                <div class="box" *ngFor="let plate of soup" (click)="selectedDish(plate)">
                                    <span class="stock">{{plate['stock']}} / {{plate['initialStock']}}</span>
                                    <img src="../../../../assets/images/almuerzo.png" alt="">
                                    <p>{{plate['name']}}</p>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 2vh;">
                            <span class="header">Postres</span>
                            <div class="flex-div" style="margin-top: 1vh;">
                                <div class="box" *ngFor="let plate of dessert" (click)="selectedDish(plate)">
                                    <span class="stock">{{plate['stock']}} / {{plate['initialStock']}}</span>
                                    <img src="../../../../assets/images/almuerzo.png" alt="">
                                    <p>{{plate['name']}}</p>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 2vh;">
                            <span class="header">Segundos</span>
                            <div class="flex-div" style="margin-top: 1vh;">
                                <div class="box" *ngFor="let plate of second" (click)="selectedDish(plate)">
                                    <span class="stock">{{plate['stock']}} / {{plate['initialStock']}}</span>
                                    <img src="../../../../assets/images/almuerzo.png" alt="">
                                    <p>{{plate['name']}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <div class="flex-div" style="justify-content: space-around;">
                        <button mat-raised-button style="background-color: #B70705; color:white;"
                            (click)="MenuList=false; categoriesList= true; cancelOrder()">Cancelar</button>
                        <button mat-raised-button style="background-color: #C8C8C8;"
                            (click)="MenuList=false; categoriesList=true; selectablePlate = null">Categorías</button>
                        <button mat-raised-button style="background: #EE8434; color: white"
                            (click)="MenuList=false; generateSale=true">Siguiente</button>
                    </div>
                </div>
            </div>
            <div class="categories others" *ngIf="otherList">
                <span class="header">{{otherTitle}}</span>
                <mat-form-field class="w3-block" appearance="outline">
                    <input type="text" placeholder="Búsqueda por producto" matInput [formControl]="searchProduct">
                </mat-form-field>
                <div style="height: 53vh; overflow: auto;" *ngIf="others$ | async as others">
                    <div *ngIf="favorites.length">
                        <span class="header">Los 5 Favoritos <mat-icon style="vertical-align: middle;">grade</mat-icon>
                        </span>
                        <div class="flex-div">
                            <div class="box" *ngFor="let plate of favorites" (click)="addOrder(plate)">
                                <span class="stock">{{plate['stock'] | number: '2.0'}}</span>
                                <p>{{plate['name']}}</p>
                                <span class="price">S/. {{plate['price'] | number: '.2'}}</span>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 3vh;" *ngIf="others.length">
                        <span class="header">Todos</span>
                        <div class="flex-div">
                            <div class="box" *ngFor="let plate of others" (click)="addOrder(plate)">
                                <span class="stock">{{plate['stock'] | number: '2.0'}}</span>
                                <p>{{plate['name']}}</p>
                                <span class="price">S/. {{plate['price'] | number: '.2'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons" style="margin-top: 3vh;">
                    <div class="flex-div" style="justify-content: space-around;">
                        <button mat-raised-button style="background-color: #B70705; color:white;"
                            (click)="otherList=false; categoriesList=true; cancelOrder()">Cancelar</button>
                        <button mat-raised-button style="background-color: #C8C8C8;"
                            (click)="otherList=false; categoriesList=true; selectablePlate = null">Categorías</button>
                        <button mat-raised-button style="background: #EE8434; color: white"
                            (click)="otherList=false; generateSale=true">Siguiente</button>
                    </div>
                </div>
            </div>
            <div *ngIf="generateSale" class="sale categories">
                <span class="header">Generar Venta</span>
                <div class="container-box" style="width: 100%;">
                    <span class="title-box">Comprobante</span>
                    <div class="flex-div"
                        style="margin-top: 3vh; align-items: center;width: 100%; justify-content: space-between;">
                        <div class="flex-div">
                            <div [className]="billView ? 'box selected' : 'box'"
                                (click)="billView = true; ticketView = false; checketView = false">
                                <mat-icon>library_books</mat-icon>
                                <p>Factura</p>
                            </div>
                            <div [className]="ticketView ? 'box selected' : 'box'"
                                (click)="billView = false; ticketView = true; checketView = false">
                                <mat-icon>library_books</mat-icon>
                                <p>Boleta</p>
                            </div>
                            <div [className]="checketView ? 'box selected' : 'box'"
                                (click)="billView = false; ticketView = false; checketView = true">
                                <mat-icon>receipt</mat-icon>
                                <p>Ticket</p>
                            </div>
                        </div>
                        <div class="flex-div w3-margin-top">
                            <div class="w3-margin-left" style="width: 17vh;">
                                <span>Nro de Serie</span>
                                <div class="input-disabled">FE001</div>
                            </div>
                            <div class="w3-margin-left" style="width: 24vh;">
                                <span>Correlativo</span>
                                <div class="input-disabled">00000089</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="flex-div" style="width: 100%; justify-content: space-between;">
                    <div class="container-box" style="margin-right: 2vw;">
                        <span class="title-box">Datos del Cliente</span>
                        <div style="width: 100%; max-width: 420px; margin-top: 3vh;">
                            <div *ngIf="billView">
                                <form [formGroup]="billForm">
                                    <mat-form-field appearance="outline" class="w3-block">
                                        <mat-label>RUC</mat-label>
                                        <input matInput placeholder="RUC" formControlName="ruc">
                                        <mat-hint>Requerido*</mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w3-block">
                                        <mat-label>Razón Social</mat-label>
                                        <input matInput placeholder="Razón Social" formControlName="businessName">
                                        <mat-hint>Requerido*</mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w3-block">
                                        <mat-label>Dirección</mat-label>
                                        <input matInput placeholder="Dirección" formControlName="address">
                                        <mat-hint>Requerido*</mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w3-block">
                                        <mat-label>Teléfono</mat-label>
                                        <input matInput placeholder="Teléfono" formControlName="phone">
                                        <mat-hint>Requerido*</mat-hint>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div *ngIf="ticketView">
                                <form [formGroup]="ticketForm">
                                    <mat-form-field appearance="outline" class="w3-block">
                                        <mat-label>RUC</mat-label>
                                        <input matInput placeholder="RUC" formControlName="ruc">
                                        <mat-hint>Requerido*</mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w3-block">
                                        <mat-label>Nombre / Apellido</mat-label>
                                        <input matInput placeholder="Nombre" formControlName="name">
                                        <mat-hint>Requerido*</mat-hint>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="w3-block">
                                        <mat-label>Teléfono</mat-label>
                                        <input matInput placeholder="Teléfono" formControlName="phone">
                                        <mat-hint>Requerido*</mat-hint>
                                    </mat-form-field>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="container-box">
                        <span class="title-box">Tipo de pago</span>
                        <div class="flex-div" style="margin-top: 3vh;">
                            <div [className]="cashView ? 'box selected' : 'box'"
                                (click)="cashView = true; visaView = false; masterCardView = false">
                                <mat-icon>money</mat-icon>
                                <p>Efectivo</p>
                            </div>
                            <div [className]="visaView ? 'box selected' : 'box'"
                                (click)="cashView = false; visaView = true; masterCardView = false">
                                <mat-icon>credit_card</mat-icon>
                                <p>Visa</p>
                            </div>
                            <div [className]="masterCardView ? 'box selected' : 'box'"
                                (click)="cashView = false; visaView = false; masterCardView = true">
                                <mat-icon>credit_card</mat-icon>
                                <p>Mastercard</p>
                            </div>
                        </div>
                        <div class="container-box">
                            <span class="title-box">Pagado</span>
                            <div class="flex-div" style="margin-top: 3vh; justify-content: space-between;">
                                <div class="pay">
                                    <div>Entrego</div>
                                    <mat-form-field appearance="outline">
                                        <input matInput placeholder="20.00" [formControl]="pay">
                                        <span matPrefix style="vertical-align: super;">S/. </span>
                                    </mat-form-field>
                                </div>
                                <div class="pay" *ngIf="cashView">
                                    <div *ngIf="change$ | async">Vuelto</div>
                                    <mat-form-field appearance="outline">
                                        <input matInput disabled [(ngModel)]="change">
                                        <span matPrefix style="vertical-align: super;">S/. </span>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons" style="margin-top: 2vh;">
                    <div class="flex-div" style="justify-content: space-around;">
                        <button mat-raised-button style="background-color: #B70705; color:white;"
                            (click)="generateSale=false; categoriesList=true; cancelOrder()">Cancelar</button>
                        <button mat-raised-button style="background-color: #C8C8C8;"
                            (click)="generateSale=false; categoriesList=true">Categorías</button>
                        <button mat-raised-button style="background: #EE8434; color: white"
                            (click)="printVoucher()">Grabar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>