.parentComponent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.childComponent {
    padding: 0 16px;
    width: 30%;
    display: flex; 
    flex-direction: column
}

@media(max-width: 800px){
    .parentComponent {
        display: flex;
        flex-direction: column;
    }
    .childComponent {
        width: 100%;
        display: flex; 
        flex-direction: column
    }
}